{% extends 'front/front_base.html' %}

{% block title %}
    回复
{% endblock %}

{% block head %}
    <script src="{{ static("ueditor/ueditor.config.js") }}"></script>
    <script src="{{ static("ueditor/ueditor.all.min.js") }}"></script>
    <link rel="stylesheet" href="{{ static('front/css/front_addcomment.css') }}">
    <script src="{{ static('front/js/front_addcomment.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-inner">
    <div class="post-title">
        <p>
            原帖：
            <a href="{{ url_for('front.post_detail',post_id=post.id) }}">{{ post.title }}</a>
        </p>
    </div>
    {% if origin_comment %}
        <div class="origin-comment-group restrict-img" data-comment-id="{{ origin_comment.id }}" >
        <span>回复<a href="{{ url_for("front.profile",user_id=origin_comment.author.id) }}">@{{ origin_comment.author.username }}</a>
            发表于 {{ origin_comment.create_time | exact_time }}</span>
        <blockquote>
            <span class="origin-comment">{{ origin_comment.content|safe }}</span>
        </blockquote>
        </div>
    {% endif %}

<div class="add-comment-group">
    {#                    style="min-height: 150px;width: 100%;"#}
    <script id="editor" type="text/plain"></script>
    <div class="bottom-group">
        <button class="btn btn-warning" data-post-id="{{ post.id }}" id="submit-btn">提交评论</button>
    </div>
</div>
</div>
{% endblock %}

