{% from "common/_macros.html" import static %}
{% from "common/_macros.html" import num2gender %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "common/_heads.html" %}
        <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">

    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="{{ static("front/css/plugins.min.css") }}">

    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="{{ static("front/css/style.css") }}">

    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="{{ static("front/css/responsive-style.css") }}">

    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="{{ static("front/css/color-1.css") }}" id="changeColorScheme">

    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="{{ static("front/css/custom.css") }}">
    <link rel="stylesheet" href="{{ static('front/css/front_base.css') }}">
    <link rel="stylesheet" href="{{ static('front/css/front_nav.css') }}">
    <!-- ==== Plugins Bundle ==== -->
    <script src="{{ static('front/js/plugins.min.js') }}"></script>
    <!-- ==== Main Script ==== -->
    <script src="{{ static('front/js/main.js') }} "></script>
    <script src="{{ static("common/cookie.js") }}"></script>
    <script src="{{ static("common/jquerysession.js") }}"></script>
    <script src="{{ static("common/cookie.js") }}"></script>
    <script src="{{ static("common/json2.js") }}"></script>
    <script type="text/javascript" src = '{{ static('front/js/front_nav.js') }}'></script>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid col-lg-9 col-lg-offset-2">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                Notebook BBS
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% block nav_home_active %} {% endblock %}"><a href="/">首页<span class="sr-only">(current)</span></a></li>
                <li class="{% block nav_nb_active %} {% endblock %}"><a href="{{ url_for("front.notebooks") }}">笔记本大全</a></li>
                <li class="{% block nav_nbpara_active %} {% endblock %}"><a href="{{ url_for("front.notebook_params") }}">笔记本参数科普</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if g.front_user %}
                    <span id="login-tag" data-is-login='1' style="display: none;"></span>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ g.front_user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{{ url_for("front.profile",user_id=g.front_user.id) }}">个人中心</a></li>
                            <li><a href="{{ url_for("front.settings") }}">资料设置</a></li>
                            <li><a href="{{ url_for("front.resetemail") }}">修改邮箱</a></li>
                            <li><a href="{{ url_for("front.resetpwd") }}">修改密码</a></li>
                            <li><a href="{{ url_for("front.logout") }}">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('front.signin') }}">登录</a></li>
                    <li><a href="{{ url_for("front.signup") }}">注册</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" action="{{ url_for('front.search') }}">
                <select name="type">
                    <option value="1" {% if type==1 %}selected{% endif %}>搜帖子</option>
                    <option value="2" {% if type==2 %}selected{% endif %}>搜笔记本</option>
                </select>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入关键字" name="kw">
                </div>
                <button type="submit" class="btn btn-default" id="search-btn">搜索</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    {% block body %}{% endblock %}
<div class="J-global-toolbar">
	<div class="toolbar-wrap J-wrap">
		<div class="toolbar">
			<div class="toolbar-panels J-panel">
				<div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
					<h3 class="tbar-panel-header J-panel-header">
						<a href="" class="title">
                            <em class="title">要对比的产品</em>
                        </a>
						<span class="close-panel J-close"></span>
					</h3>

					<div class="tbar-panel-main">
						<div class="tbar-panel-content J-panel-content">
							<div id="J-cart-render">
								<div class="tbar-cart-list">
								</div>
							</div>
						</div>
					</div>

					<div class="tbar-panel-footer J-panel-footer">
						<div class="tbar-checkout">
                            <div class="jtc-number">最多选择<strong class="J-count">8</strong>件产品</div>
                            <div class="jtc-sum"> 当前已选<strong class="J-total">0</strong>件</div>
							    <a  id="compare" class="btn jtc-btn J-btn" target="_blank" href='{{ url_for("front.notebooks_compare") }}'>
                                        对比参数
                                </a>
						</div>
					</div>
				</div>
			</div>

			<div class="toolbar-header"></div>

			<div class="toolbar-tabs J-tab">
				<div class="toolbar-tab tbar-tab-cart">
					<i class="tab-ico"></i>
					<em class="tab-text">对比栏</em>
					<span class="tab-sub J-total">0</span>
				</div>
			</div>

			<div class="toolbar-footer">
                <div class="toolbar-tab tbar-tab-top"> <a href="#"> <i class="tab-ico  "></i> <em class="footer-tab-text">顶部</em> </a> </div>
			</div>

			<div class="toolbar-mini"></div>

		</div>

		<div id="J-toolbar-load-hook"></div>
	</div>
</div>
</div>

<footer class="page-bottom">
    <div class="container">
        <div class="col-sm-4 hidden-xs col-xs-offset-1">
            <div class="content">
                <h4 class="title">关于本站</h4>
                <p>1、后端：Flask + 前端：Bootstrap</p>
                <p>2、本站以笔记本讨论为主</p>
                <p>3、本站于 2020-02-12 开始建站</p>
            </div>
        </div>

        <div class="col-sm-4 hidden-xs col-xs-offset-1">
            <div class="content">
                <h4 class="title">建议反馈</h4>
                <p>1、可在相应的帖子底下评论</p>
                <p>2、发邮件到920592896@qq.com</p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>Welcome to visit my website © NotebookBBS</span>
    </div>
</footer>
</body>
</html>
