{% extends 'front/front_base.html' %}

{% block title %}
    个人信息设置
{% endblock %}

{% block head %}
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="{{  static('common/myqiniu.js') }}"></script>
    <script src="{{ static("front/js/front_settings.js") }}"></script>
    <link rel="stylesheet" href="{{ static('front/css/front_settings.css') }}">
{% endblock %}

{% block body %}
    <div class="container-inner">
        <h2>个人信息</h2>
            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" placeholder="请输入用户名" name="username" value="{{ g.front_user.username }}">
            </div>
            <div class="form-group">
                    <label>QQ</label>
                <input type="text" class="form-control" placeholder="请输入QQ" name="qq" value="{{ g.front_user.qq or '' }}">
            </div>
            <div class="form-group">
                <label>真实姓名</label>
                <input type="text" class="form-control" name="realname" placeholder="请输入真实姓名" value="{{ g.front_user.realname or '' }}">
            </div>
            <div class="form-group">
                <label>性别</label>
                <select id="gender" class="combobox" user-gender="{{ g.front_user.gender }}">
                  <option value="1">男</option>
                  <option value="2">女</option>
                  <option value="3">保密</option>
                    <option value="4">未填写</option>
                </select>
            </div>
            <div class="form-group">
                <label>头像</label>
                <div>
                    <img src="{{ g.front_user.avatar or static('common/images/avatar.png') }}" class="img-circle avatar-img" alt="点击选择头像" id="avatar-img" data-toggle="change_avatar" data-placement="right" title="点击更换头像">
                </div>
            </div>
            <div class="form-group">
                <label>个性签名</label>
                <textarea id="signature-area" class="form-control" placeholder="请输入签名" name="signature">{{ g.front_user.signature or '' }}</textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="submit-btn" data-user-id="{{ g.front_user.id }}">保存</button>
            </div>
    </div>
{% endblock %}