body{
    background: #f3f3f3;
}
.outer-box{
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
}
.logo-box{
    text-align: center;
    padding-top: 40px;
}
.logo-box img{
    width: 150px;
}
.page-title{
    text-align: center;
}

.sign-box{
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

.captcha-addon{
    padding: 0;
    overflow: hidden;
}

.captcha-img{
    width: 95px;
    height: 33px;
    cursor: pointer;
}

.resetpwd-link{
    float: right;
}