.container{
    width: 990px;
    background: #fff;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
}
.container-inner{
    background: #fff;
    padding: 30px;
    position: relative;
}
.post-title{
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.origin-comment-group{
    padding-bottom: 20px;
}

.bottom-group{
    padding-top: 10px;
}

#editor{
   min-height: 150px;
    width: 100%;
}