{% extends 'cms/cms_base.html' %}
{% from 'common/_macros.html' import static %}

{% block title -%}
    修改密码
{%- endblock %}

{% block head %}
    <script src="{{ static('cms/js/resetpwd.js') }}"></script>
{% endblock %}

{% block page_title -%}
    {{ self.title() }}
{%- endblock %}

{% block main_content %}
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                       &nbsp;原&nbsp;&nbsp;密&nbsp;&nbsp;码&nbsp;&nbsp;
                    </span>
                    <input type="password" class="form-control" name="oldpwd" placeholder="请输入原密码">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                         &nbsp;新&nbsp;&nbsp;密&nbsp;&nbsp;码&nbsp;&nbsp;
                    </span>
                    <input type="password" class="form-control" name="newpwd" placeholder="请输入新密码">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        确认新密码
                    </span>
                    <input type="password" class="form-control" name="newpwd2" placeholder="请确认新密码">
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="submit">立即保存</button>
            </div>
        </div>
    </form>
{% endblock %}